@import "tailwindcss";
@import "./styles/utilities";
@import "./styles/popover";

@theme {
  --text-12px: 12px;
  --text-14px: 14px;
  --text-16px: 16px;
  --text-20px: 20px;

  --font-weight-500: 500;
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --radius-8px: 8px;
}
